div.blogPosts{
    display: grid;
    padding: 1em;

    grid-row-gap: 1em;
}

div.post{
    background: var(--color-panel-bg);

    border-style: solid;
    border-color: var(--color-border);
    border-radius: var(--radius);
    border-width: var(--border-width);

    padding: 0.2em 1em;
}
