p.pageName{
    font-size: 35px;
    line-height: 0px;

    text-align: center;
    vertical-align: top;
}

div.contributorsList{
    display:flex;
    flex-wrap: wrap;
    gap: 1em;
}

div.contributor{
    background: var(--color-panel-bg);

    border-style: solid;
    border-color: var(--color-border);
    border-radius: var(--radius);
    border-width: var(--border-width);

    padding: 0.2em 1em;
}

@media screen and (max-width: 700px) {
    div.contributorsList{
        display: grid;
    }
}
