div.wrapper{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 1em;

    padding-top: 1em;

    max-height: fit-content;
}

div.wrapper > div{
    padding: 1dvh;

    position: sticky;
    overflow-y: scroll;
    max-height: 85dvh;
    top: 3.5em; 

    /*Hide scrollbar*/
    -ms-overflow-style: none;
    scrollbar-width: none;
}

div.detail{
    overflow-y: scroll;
    max-height: 77dvh;

    scroll-snap-type: y mandatory;
    scroll-padding-top: 4em; 

    scrollbar-width: none;

  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );

  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 3%,
    black 97%,
    transparent 100%
  );
}

div.about{
    z-index: 0;

    border-radius: 10px;
    background: rgba(208, 208, 208, 0.6);
    border-style: solid;
    border-color: RGBa(72, 72, 72, 0.6);

    height: fit-content;
    min-width: 20em;
}

div.topOfList{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.pfp{
    max-width: 22em;
    height: fit-content;
    overflow: hidden;

    border-style: solid;
    border-color: #484848;
    border-radius: 7px;
}

div.pfp > img{
    display: block;
    width: 100%;
    height: 100%;

    max-width: 40em;
    max-height: 25em;

    object-fit:contain;
    object-position: 100% 0%;
}

img.image{
    height: 20em;
}

div.projectList{
    perspective: 1000px;

    height: 26em;
    overflow-x: auto;
    display: flex;
    gap: 1.5em;

    scroll-behavior: smooth;
    padding-left: 7em;
    padding-right: -14em;

    -webkit-mask-image: linear-gradient(
    to left,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );

  mask-image: linear-gradient(
    to left,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );

    -webkit-scrollbar{
        display: none;
    }

    ::-webkit-scrollbar-thumb{
        background: rgba(72, 72, 72, 0.6);
    }

    cursor: grab;
}

.projectList.active {
    cursor: grabbing;
}


.floater{
    padding-top: 1em;
    position: relative;
    z-index: 9999;
    height: 0;
}

div.projectList::after {
    content: "";
    flex: 0 0 7em;
}

.projectMax{
    display: block;
    cursor: pointer;

    width: 92em;
    height: 26em;
    background: rgb(208, 208, 208, 0.97);
    border-color: rgba(72, 72, 72, 0.1);
    border-style: solid;

    overflow-y: scroll;
    border-radius: 1em;
}

.maxSpacer{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

div.maxProjImg{
    width: fit-content;
    height: fit-content;

    overflow: hidden;
    opacity: 100%;
    padding: 0.5em;
}

div.maxProjImg > img{
    display: block;
    height: 100%;
    width: 100%;

    border-style: solid;
    border-radius: 10px;
    
    max-height: 25em;

    object-fit:fill;
    object-position: 100% 0%;
}

.project{
    display: flex;
    flex-direction: column;
    cursor: pointer;

    transform-style: preserve-3d;
    transition: transform 0.35s ease, box-shadow 0.35s ease;
    position: relative; 

    flex: 0 0 20em;
    height: 23em;
    background: rgba(208, 208, 208, 0.6);
    border-color: rgba(72, 72, 72, 0.1);
    border-style: solid;

    overflow: hidden;
    border-radius: 0.5em;
    text-align: center;

    transition: transform 0.35s ease, box-shadow 0.35s ease;
    transform: translateZ(0);
}

.projectMax input{
    display: none;
}

.project input{
    display: none;
}
/*
.project:checked{
    max-width: none;
}

.project:has(input:checked) {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 9999;

  background: inherit;
  border-radius: 0.5em;
  box-shadow: 0 40px 120px rgba(0,0,0,0.45);
}
*/
div.projImg{
    width: fit-content;
    height: fit-content;

    overflow: hidden;
    opacity: 100%;

    -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(208, 208, 208) 0%,
    rgba(208, 208, 208) 80%,
    transparent 100%
  );

  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(208, 208, 208) 0%,
    rgba(208, 208, 208) 80%,
    transparent 100%
  );
}

div.projImg > img{
    display: block;
    height: 100%;
    width: 100%;
    
    max-height: 21em;

    object-fit:fill;
    object-position: 100% 0%;
}

.project .title{
    margin-top:auto;
}

div.experienceList{
    display: grid;
    grid-row-gap: 1em;
}

div.educationList{
    display:flex;
    flex-wrap: wrap;
    gap: 1em;
}

div.box{
    background: rgba(208, 208, 208, 0.6);
    border-color: rgba(72, 72, 72, 0.1);
    border-style: solid;

    overflow: hidden;
    padding: 1em;

    border-radius: 0.5em;
}

div.skillsList{
    display:flex;
    flex-wrap: wrap;
    padding: 0.5em;
    gap: 0.2em;
}

button.skill{
    border-style: solid;
    border-width: 2px;
    border-color:#484848;
    border-radius: 10px;

    background-color: #95a472;

    font-size: 0.85em;

    text-align: center;
    min-width: 20px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

button.projSkill{
    border-style: solid;
    border-width: 2px;
    border-color: #484848;
    border-radius: 10px;
    
    background-color:#95a472;

    font-size: 0.85em;

    text-align: center;
    min-width: 20px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

p{
    text-align: left;
    padding-left: 1em;
}

/* Search bar functionality */

.searchBar {
    overflow: hidden;
}

.searchBar p {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.searchBar input[type=text] {
    float: right;
    padding: 10px 10px;

    border: solid;
    border-color: #484848;
    border-radius: 7px;

    font-size: 15px;
}

/* Screen width adjustments */

@media screen and (max-width: 1200px) {
    div.projectList{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1000px) {
    div.educationList{
    display: grid;
    grid-row-gap: 1em;
    }
    div.projectList{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 750px) {
    div.wrapper{
        grid-template-columns: 1fr;
        grid-row-gap: 1em;
    }
    div.wrapper > div{
        position:relative;
        top: 1em;

        max-height: none;
    }
    div.pfp{
        margin: auto;
    }
    div.detail{
        -webkit-mask-image: none;
        mask-image: none;
    }
}

@media screen and (max-width: 500px) {
    div.about{
        height: fit-content;
        min-width: unset;

        position: relative;
        overflow-y:auto;
    }
    div.detail{
        height: fit-content;
        max-height: unset;
    }
    div.project{
        max-height: unset;
    }
}