div.blogPosts{
    display: grid;
    padding: 1em;

    grid-row-gap: 1em;
}

div.post{
    background: rgba(208, 208, 208, 0.6);

    opacity: 80%;

    border-style: solid;
    border-color: RGBa(72, 72, 72, 0.6);
    border-radius: 7px;
    border-width: 3px;
    
    padding: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
}