div.blogPosts{
    display: grid;
    padding: 1em;

    grid-row-gap: 1em;
}

div.post{
    background: #d0d0d0;

    opacity: 80%;

    border-style: solid;
    border-color: #484848;
    border-radius: 7px;
    border-width: 3px;
    
    padding: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
}