.container{
    border: 3px;
    border-style: solid;
    border-color: #484848;
    border-radius: 7px;
}

#graphVisualiser{
    width: 100%;
    height: fit-content;
}

g{
    width: fit-content;
}

rect.bar{
    fill: rgb(171, 125, 68);
}