html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.struct > div{
    padding: 1em;
}

div.header{
    display:grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-column-gap: 1em;
    place-items: center;

    position: sticky;
    height:fit-content;

    background:#d0d0d0;
    border-style: solid;
    border-radius: 10px;
    border-color: #717171;
}

div.linksList{
    display:grid;
    grid-template-columns: repeat(3, 4.5em);
    height: fit-content;
}

div.linkBox{
    padding: 0.4em;
}

p.pageName{
    font-size: 35px;
    text-align: center;
    vertical-align: top;
    line-height: 1px;
}

div.pageList{
    display:flex;
    flex-wrap: wrap;
    gap: 0.2em;
}

div.page{
    font-size: 20px;
}


div.wrapper{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 1em;
}
div.wrapper > div{
    padding: 1em;

    border-radius: 10px;
}

div.about{
    position: sticky;
    top: 3.5em;

    height: fit-content;
    max-height: 81dvh;
    overflow-y: scroll;

    background:#d0d0d0;
    border-style: solid;
    border-radius: 10px;
    border-color: #717171;
}

div.detail{
    position: sticky;
    top: 3.5em;

    background:#d0d0d0;
    border-style: solid;
    border-radius: 10px;
    border-color: #717171;

    height: 81dvh;
    overflow-y: scroll;
}

div.pfp{
    height: 300px;
    overflow: hidden;

    border-style: solid;
    border-color: #484848;
    border-radius: 7px;
}

img.image{
    height: 300px;
}

div.projectList{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-auto-rows:minmax(100px, auto);
}

div.project{
    background:#95a472;
    padding: 1em;


    border-style: solid;

    border-style: solid;
    border-color: #484848;
    border-radius: 7px;

    border-width: 5px;
    border-radius: 7px;
    border-color: #75815a;

    border-style: solid;
    border-color: #484848;
    border-radius: 7px;
    /*box-shadow: 5px 5px 5px 5px rgb(109, 108, 108);*/
}

div.experienceList{
    display: grid;
    grid-row-gap: 1em;

    display:flex;
    flex-wrap: wrap;
    gap: 0.2em;
}

div.educationList{
    display: grid;
    grid-row-gap: 1em;

    display:flex;
    flex-wrap: wrap;
    gap: 0.2em;
}

div.skillsList{
    display:flex;
    flex-wrap: wrap;
    gap: 0.2em;
}

div.skill{
    border-style: solid;
    border-width: 2px;
    border-color: #75815a;
    background-color: #95a472;
    border-radius: 10px;
    
    background-color: #95a472;

    text-align: center;
    display: inline-block;
    min-width: 20px;
    width: max-content;

}

p.title{
    text-align:center; 
    vertical-align: text-top;
    font-size: 1.5em;
    position:static;
    line-height: 1px;
}

/* Blog specific css*/

div.blogPosts{
    display: grid;
    padding: 1em;
    background:#9c9c9c ;
    border-radius: 25px;
    grid-row-gap: 1em;
}

div.post{
    background:#75815a;
    border-radius: 15px;
    padding: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
}

/*

.css is overwritten by whatever is the nearest property to the item. Item overwrites container1, overwrites container2, ...

*/